.Rproj.user
.Rhistory
.RData
vignettes/figure
*.Rproj
clusterVignette.md
vignettes/*_cache
vignettes/*_figure
vignettes/*.R
vignettes/*.html
vignettes/*.h5
tests/checkClusterMany/*
tests/testthat/*.h5
