.Rproj.user
.Rhistory
.RData
vignettes/figure
*.Rproj
clusterVignette.md
vignettes/*_cache
vignettes/*_figure
vignettes/*.R
tests/checkClusterMany/*.Rout
tests/checkClusterMany/*.txt
tests/checkClusterMany/nohup.out
tests/checkClusterMany/*.tar.gz