importFrom(BiocGenerics, combine)
import(Biobase)
import(SummarizedExperiment)
importClassesFrom(phylobase, phylo4)
importFrom(RColorBrewer, brewer.pal, brewer.pal.info)
importFrom(parallel, mclapply)
exportPattern("^[^\\.]")
